{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            Ya iniciaste sesión con el correo: {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Click para cerrar sesión</a>
        </div>
    {% endif %}

    <h1 class="h3 mb-3 font-weight-normal">Inicio de sesión (solo admin)</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"
    >

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    <button class="btn btn-lg btn-primary" type="submit">
        Iniciar sesión
    </button>

    
    <a href="{{ path('app_register') }}">¿Aun no estas registrado? Registrate?</a>
    
</form>
{% endblock %}
