{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <h1>Registro</h1>

    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.nombre) }}
        {{ form_row(registrationForm.apellido) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-lg btn-primary">Registrar</button>
    {{ form_end(registrationForm) }}
    <a href="{{ path('app_login') }}">¿Ya tienes cuenta? Inicia sesion?</a>
{% endblock %}
