{% extends ("base.html.twig") %}

{% block title %}<title>Eventos</title>{% endblock %}

{% block body %}
<div class="table-responsive">
        
        <h1>Eventos</h1>
        
        <a href="{{ path('createEvento') }}" class="btn btn-primary">Registrar Evento</a>
        Ya iniciaste sesión con el correo: {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Click para cerrar sesión</a>
        <div class="count">
               <h3>No. Total de eventos: {{ pagination.getTotalItemCount }} </h3> 
        </div>
        <table class="table table-striped align-middle table-info">
                <thead>
                        <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Fecha</th>
                                <th>Lugar</th>
                                <th>Hora</th>
                                <th>Categoria</th>
                                <th>Estatus</th>
                                <th>Acciones</th>
                        </tr>
                </thead>
                <tbody>
                        {% for evento in pagination  %}
                                <tr >
                                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                                        <td>{{ evento.id }}</td>
                                        <td>{{ evento.Nombre }}</td>
                                        <td>{{ evento.Fecha }}</td>
                                        <td>{{ evento.Lugar }}</td>
                                        <td>{{ evento.Hora }}</td>
                                        <td>{{ evento.Categoria }}</td>
                                        <td>{{ evento.Estatus }}</td>
                                        <td>
                                            <a href="{{ path('updateEvento', {'id': evento.id } ) }}" class="btn btn-primary">Modificar</a>
                                            <a href="{{ path('deleteEvento', {'id': evento.id } ) }}" class="btn btn-danger">Eliminar</a>
                                        </td>
                                </tr>
                        {% endfor %}
                </tbody>
        </table>
</div>
{# display navigation #}
<div class="navigation">
    {{ knp_pagination_render(pagination) }}
</div>       



{% endblock %}
