{% extends ("base.html.twig") %}

{% block title %}<title>Registro de Eventos</title>{% endblock %}

{% block body %}

    <h1>Registro</h1>
    Ya iniciaste sesión con el correo: {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Click para cerrar sesión</a>
    {{ form_start(form_evento)}}
    <div class="form-group col-lg-5">
        {{form_row(form_evento.Nombre)}}
    </div>
    <div class="form-group col-lg-5">
        {{form_row(form_evento.Fecha)}}
    </div>
    <div class="form-group col-lg-5">
        {{form_row(form_evento.Lugar)}}
    </div>
    <div class="form-group col-lg-5">
        {{form_row(form_evento.Hora)}}
    </div>
    <div class="form-group col-lg-5">
        {{form_row(form_evento.Categoria)}}
    </div>
    <div class="form-group col-lg-5">
        {{form_row(form_evento.Estatus)}}
    </div>
        {{form_widget(form_evento.submit)}}
    {{ form_end(form_evento)}}
    <a href="{{ path('getEvento') }}" class="btn btn-default">Cancelar</a>
{% endblock %}