{% extends ("base.html.twig") %}

{% block title %}<title>Listado de usuarios</title>{% endblock %}

{% block body %}
<div class="table-responsive">

        <h1>Usuarios Registrados</h1>
        Ya iniciaste sesión con el correo: {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Click para cerrar sesión</a>
        <table class="table table-striped align-middle table-dark">
                <thead>
                        <tr>
                                <th>#</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Alias</th>
                                <th>Correo</th>
                                <th>Rol</th>
                        </tr>
                </thead>
                <tbody>
                        {% for usuario in listusuario  %}
                                <tr >
                                        <td>{{ loop.index }}</td>
                                        <td>{{ usuario.Nombre }}</td>
                                        <td>{{ usuario.Apellido }}</td>
                                        <td>{{ usuario.Alias }}</td>
                                        <td>{{ usuario.Correo }}</td>
                                        <td>{{ usuario.Rol }}</td>

                                </tr>
                        {% endfor %}
                </tbody>
        </table>
<div>
{% endblock %}